
backend/.env
backend/target/
backend/vectorstore_parent_child_backup_*/
backend/venv/
.env
# Environment
frontend/dist/
frontend/node_modules/
# IDE
.idea/
# Java
*.log
*.logbackend/*.bak
# logs
models/
# Node
*.pyc
__pycache__/
# Python cache
# Python virtual environment
venv/
.vscode/
